.btn {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}
.btn:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}
.btn:active {
  position: relative;
  top: 1px;
}

.btn:disabled,
.btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.circle-ready {
  background-color: #2b665e;
}

.circle-not-ready {
  background-color: #ff6e62;
}

.bg {
  background-color: #04af71;
}

progress {
  border-radius: 7px;
  height: 12px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: grey;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: #04af71;
  border-radius: 7px;
}

.complete-progress {
  background-color: #2b665e;
}
